@import 'src/styles/functions.scss';

.text-input {
  box-sizing: border-box;
  width: 80%;
  height: space(11);
  padding: space(2.5) space(4);
  margin-right: space(2);
  border: 1.5px solid #e29587;
  background-color: #f5dde0;
  outline: none;
  border-radius: space(1);
  font-size: 18px;
  transition: all 0.3s ease;

  &:focus {
    border-color: #7f1734;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.14);
  }
}
